<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>style-Attribut</title>
<style type="text/css">
    label {
        float: left;
        width: 150px;
        text-align: right;
        whitespace: nowrap;
        margin-right: 0.5em;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }
</style>
</head>
<body>

{% load url from future %}
<form action="{% url 'auskunft:create' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

</body>
</html>

